* {
    margin: 0; 
    padding: 0;
    font-family: "Helvetica Neue", "Arial";
}

.row {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

td {
    width: 300px;
}

table {
    margin: 0 auto;
    width: fit-content;
}